.App {
  /* margin: auto; */
  width: 1400px;
  height: 1024px;
  margin: auto;
  border: 1px solid white;
  margin-top: 5px;
  display: flex;
  
}
body {
  font-family: "Poppins";
}
@media only screen and (max-width: 1000px){
  .App{
    max-width:100% ;
    height: auto;
    overflow-y: hidden;
    
  }
}